<p>Next, you will report your attitudes regarding cisgender and transgender people.</p>
<p>Again, &#147;cisgender&#148; refers to people who feel there is a match between the sex they were assigned at birth and the gender they feel themselves to be. 
&#147;Transgender&#148; refers to people who feel there is a mismatch between the sex they were assigned at birth and the gender they feel themselves to be.</p>




