<p>Next, you'll be asked questions about some policies in the United States concerning transgender people. There will be four total policies with four items for each policy. For each item, there will be a description of the policy and then a statement in bold. Please report how much you agree or disagree with the statement in bold concerning the policy being described.</p><p></p>



