<p>In the next part of the study, you will sort transgender and cisgender faces. You will complete a short task to familiarize yourself with the faces used in this study.</p><p>Each face will be labeled as either transgender and cisgender, and you will sort the faces using two computer keys. If you make an error, a red 'X' will briefly appear.</p>
<p>&#147;Cisgender&#148; refers to people who feel there is a match between the sex they were assigned at birth and the gender they feel themselves to be. &#147;Transgender&#148; refers to people who feel there is a mismatch between the sex they were assigned at birth and the gender they feel themselves to be.</p>




